.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid;
  transition: background 0.2s, border 0.2s, color 0.2s;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 12px;
  border-radius: 30px;

  /*  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  } */


  &_type_link {
    text-decoration: none;
  }

  &_width_available {
    width: 100%;
  }
}