.cart {
	position: relative;
	width: 39px;
	height: 32px;
	display: flex;
	align-items: end;
	color: var(--Black);
	transition: 0.2s;

	&:hover {
		color: var(--Orange);
	}

	&__counter {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 140%;
		padding: 0 4px;
		border-radius: 16px;
		background-color: var(--Orange);
		color: var(--White);
		font-size: 12px;
		min-width: 16px;
		min-height: 16px;
		box-sizing: border-box;
	}
}