.input {
  position: relative;

  &_width_available {
    width: 100%;

    .input__control {
      width: 100% !important;
    }
  }

  &__control {
    box-sizing: border-box;
    height: 56px;
    padding: 16px 24px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid var(--Gray-70);
    font-size: 1rem;
    color: var(--Gray-70);
    font-family: inherit;
  }


  &__clear {
    opacity: 0;
    position: absolute;
    top: -2px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-image: url(../../img/icon/cross.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(1.9);
  }

  &_hovered {
    .input__control {
      outline: 0;
      border: 1px solid var(--Black);
    }

    .input__clear {
      filter: brightness(1);
    }
  }

  &_focused {
    .input__control {
      background: #FFFFFF;
      border: 1px solid var(--Black);
      outline: 0;
      color: var(--Black);

      &::placeholder {
        opacity: 0;
      }
    }

    .input__clear {
      opacity: 1;
      filter: brightness(1);
    }
  }

  &_novalid {
    .input__control {
      border: 1px solid #FF002F;
    }

    .input__clear {
      filter: none;
      background-image: url(../../img/icon/error.svg);
    }
  }

  &_empty {
    .input__control {
      border: 1px solid #E2B93B;
    }
  }

  &_valid {
    .input__control {
      border: 1px solid #04CD00;
    }

    .input__clear {
      filter: none;
      background-image: url(../../img/icon/mark-success.svg);
    }
  }

  &_disabled {
    .input__control {
      border: 1px solid var(--Gray-30);
      color: var(--Gray-30);
    }

    .input__clear {
      filter: brightness(4.5);
    }
  }


}

.input_has-clear .input__control {
  padding-right: 56px;
}